<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit - Simple CRUD in NodeJS</title>
</head>
<body>
  <h1>Edit Register</h1>
  <% data.forEach(function(details) { %>
  <form action="/edit/<%= details._id %>" method="POST">
    <input name="name" type="text" placeholder="Name" value="<%= details.name %>">
    <input name="surname" type="text" placeholder="Surname" value="<%= details.surname %>">
    <button type="submit">Submit</button>
    <a href="/show">All</a>
  </form>
  <% }) %>
</body>
</html>